# Default
* text=auto

# Text files
*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.ps1 text eol=lf
*.bbcode text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf

# CK3 text files
*.txt text
*.yml text
*.gui text
*.mod text
*.settings text

# Binary files
*.gif binary
*.jpg binary
*.png binary
*.dds binary
*.tga binary

# Git LFS
mod/gfx/map/terrain/flat_maps/flatmap_yb.dds filter=lfs diff=lfs merge=lfs -text
